*{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.main-header {
  background: rgb(25, 25, 25);
  padding: 50px 0 140px 0;
}

.main-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.telephone {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

.social-facebook {
  color: #fff
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 40px;

}

.menu-item {
  color: #fff;
  font-size: 19px;
text-decoration: none;
text-transform: uppercase;
margin: 0 28px;
}

.menu-item:hover {
  color: #c7c6c6;
}

.logo {
  margin-left: -140px;
}

.slider {
    top: -60px;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 666px;
    overflow: hidden;
    transform: skewY(-3.6deg);
    background: #888888;
}

.slider__item {
    transform: skewY(3.6deg);
    top: -60px;
    position: relative;
}

.intro {
  top: -40px;
  position: relative;
  background: url('../../img/8652882.jpg') 0 0 repeat #191919;
  color: #fff;
  width: 100%;
  height: 600px;
  overflow: hidden;
  transform: skewY(3.3deg);
  z-index: 1;
}

.intro__background {
  background: rgba(25, 25, 25, 0.9);
  width: 100%;
  height: 100%;
}

.intro__content {
  transform: skewY(-3.3deg);
  margin: 0 -15px;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 159px;
}

.intro__block {
width: 50%;
padding: 0 15px;
}
